@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fadeIn {
  animation: fadeIn 1s ease-out forwards;
}

html, body, #__next {
  background: black;
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
}
